html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* MY STYLES BEGIN */
.contentBody {
	background-color: #fffcef;
	cursor: url("images/pineapple.png"), auto !important;
	font-family: Raleway;
	font-weight: 300;
}

.container {
	margin-bottom: 70px;
	width: 800px !important;
}

.startOverText {
	color: #4a3923;
	cursor: pointer;
}

.startOverText:hover {
	color: #4a3923;
	text-decoration: none;
}

.headHolder {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.localHead {
	height: 80px;
	margin: 50px auto 0;
}

@-webkit-keyframes togglePineapple {
  0% { transform: rotate(-45deg); }
  25% { transform: rotate(0deg); }
  50% { transform: rotate(45deg); }
  75% { transform: rotate(0deg); }
  100% { transform: rotate(-45deg); }
}
@-moz-keyframes togglePineapple {
  0% { transform: rotate(-45deg); }
  25% { transform: rotate(0deg); }
  50% { transform: rotate(45deg); }
  75% { transform: rotate(0deg); }
  100% { transform: rotate(-45deg); }
}
@-o-keyframes togglePineapple {
  0% { transform: rotate(-45deg); }
  25% { transform: rotate(0deg); }
  50% { transform: rotate(45deg); }
  75% { transform: rotate(0deg); }
  100% { transform: rotate(-45deg); }
}
@keyframes togglePineapple {
  0% { transform: rotate(-45deg); }
  25% { transform: rotate(0deg); }
  50% { transform: rotate(45deg); }
  75% { transform: rotate(0deg); }
  100% { transform: rotate(-45deg); }
}
.localHead {
  -webkit-animation: togglePineapple 3s infinite; /* Safari 4+ */
  -moz-animation: togglePineapple 3s infinite; /* Fx 5+ */
  -o-animation: togglePineapple 3s infinite; /* Opera 12+ */
  animation: togglePineapple 3s infinite; /* IE 10+, Fx 29+ */
}

.topHeader h1 {
	color: #4a3923;
	font-family: Bitter;
	font-size: 35px;
	font-weight: bold;
	margin-top: 5px;
	text-align: center;
}

.questionSection {
	z-index: 1;
}

.questionNumber {
	color: #4a3923;
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 20px;
	z-index: 1;
}

.question {
	color: #4a3923;
	font-size: 20px;
	padding-bottom: 0;
	z-index: 1;
}

.answerOptions {
	color: #4a3923;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: left;
	z-index: 1;
}

.labelWrapper {
	border: 1px solid #f0a830;
	border-radius: 2.5px;
	background-color: #fff;
	cursor: pointer;
	font-weight: 300 !important;
	height: 295px;
	padding: 5px;
	transition: all .3s ease-in-out;
	width: 377px;
}

.labelWrapper:hover {
	background-color: #f0a830;
	-webkit-transform: scale(1.015);
	-ms-transform: scale(1.015);
	transform: scale(1.015);
}

.selectedItem {
	background-color: #88f078 !important;
	border: 1px solid #88f078;
	color: #fff;
}

.selectedItem:hover {
	background-color: #88f078;
}

.disabledItem {
	background-color: #ef6b66 !important;
	border: 1px solid #ef6b66;
	color: #fff;
}

.disabledItem:hover {
	background-color: #ef6b66;
}

.labelOne {
	margin: 0 5px 8px 0;
}

.labelTwo {
	margin: 0 0 5px 5px;
}

.labelThree {
	margin: 5px 5px 0 0;
}

.labelFour {
	margin: 5px 0 0 5px;
}

input {
	cursor: pointer;
}

.optionWrapper {
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.optionImage {
	height: 240px;
	margin-bottom: 5px;
	margin-top: 8px;
	width: 350px;
}

.radioButton {
	display: none;
}

.buttonSection {
	margin-bottom: 15px;
	position: relative;
}

.next {
	background-color: #f0a830;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 15px;
	font-weight: bold;
	padding: 7px 23px;
	text-align: center;
	z-index: 1;
}

.next:focus {
	outline: none;
}

.score {

	background-color: #f0a830;
	border-radius: 2px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: none;
	float: right;
	font-size: 15px;
	font-weight: bold;
	padding: 7px 23px;
	text-align: center;
	z-index: 1;
}

.score:focus {
	outline: none;
}

.greyBoxHolder {
	background-color: #fff;
	border: 1px solid #f0a830;
	border-radius: 2px;
	display: none;
	padding: 15px;
}

.boolText {
	display: inline-block;
	margin-top: 0;
}

.answerText {
	color: #4a3923;
	display: none;
	font-size: 20px;
	text-align: left;
	z-index: 1;
}

.answerText p {
	margin-bottom: 0px;
}

.shakaWrapper {
	bottom: 0;
	height: 275px;
	margin-top: 50px;
	width: 100%;
}

/* end of the game score styles */
.scoreTime {
	background-color: #fffcef;

	display: none;
	height: 100%;
	left: 0;
	overflow-y: scroll;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.scoreImage {
	border: none;
	display: inline-block;
	height: 300px;
	margin-top: 50px;
	text-align: left;
	width: 300px;
}

.scoreImage img {
	height: 100%;
	width: 100%;
}

.scoreText {
	display: inline-block;
	margin-left: 15px;
	float: right;
	width: 455px;
}

.result0, .result1, .result2, .result3, .result4, .result5 {
	color: #4a3923;
	display: none;
	font-size: 20px;
	padding-top: 15px;
	text-align: left;
	z-index: 1000;
}

.tryAgainButton {
	text-align: left;
}

.tryAgain {
	background-color: #f0a830;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	padding: 7px 23px;
	text-align: center;
	z-index: 1000;
}

.scoreHeader {
	color: #4a3923;
	font-size: 20px;
	font-weight: 300;
	margin-top: 70px;
	text-align: left;
	z-index: 1000;
}

.scoreTitle {
	color: #4a3923;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: -10px;
	margin-top: 5px;
	text-align: left;
}

@media (max-width: 1199px) {
	.container {
		width: 700px !important;
	}
	.labelWrapper {
		cursor: pointer;
		font-weight: 300 !important;
		height: 255px;
		padding: 5px;
		width: 327px;
	}
	.optionImage {
		height: 200px;
		margin-top: 8px;
		margin-bottom: 5px;
		width: 300px;
	}
	.scoreImage {
		border: none;
		display: inline-block;
		height: 300px;
		margin-top: 50px;
		text-align: left;
		width: 300px;
	}
	.scoreText {
		display: inline-block;
		float: right;
		margin-left: 15px;
		width: 355px;
	}
}

@media (max-width: 991px) {
	.container {
		width: 600px !important;
	}
	.labelWrapper {
		cursor: pointer;
		font-weight: 300 !important;
		height: 255px;
		padding: 5px;
		width: 277px;
	}
	.optionImage {
		height: 200px;
		margin-bottom: 5px;
		margin-top: 8px;
		width: 250px;
	}
	.boolText {
		padding-top: 5px;
	}
	.scoreImage {
		border: none;
		display: inline-block;
		height: 250px;
		margin-top: 50px;
		text-align: left;
		width: 250px;
	}
	.scoreText {
		display: inline-block;
		float: right;
		margin-left: 15px;
		width: 305px;
	}
}

@media (max-width: 767px) {
	.container {
		width: 100% !important;
	}
	.topHeader h1 {
		font-size: 30px;
	}
	.labelWrapper {
		cursor: pointer;
		font-weight: 300 !important;
		height: 288px;
		padding: 5px;
		width: 100%;
	}
	.optionImage {
		height: 230px;
		margin-bottom: 5px;
		margin-top: 0;
		width: 100%;
	}
	.labelOne {
		margin: 0 0 0 10px;
		padding: 15px;
	}
	.labelTwo {
		margin: 0 0 10px 0;
		padding: 15px;
	}
	.labelThree {
		margin: 0 0 10px 0;
		padding: 15px;
	}
	.labelFour {
		margin: 0 0 10px 0;
		padding: 15px;
	}
	.boolText {
		padding-top: 5px;
	}
	.scoreImage {
		border: none;
		display: block;
		height: 300px;
		margin-top: 50px;
		width: 100%;
	}
	.scoreText {
		display: block;
		float: none;
		margin-left: 0;
		padding-left: 0;
		padding-right: 15px;
		width: 100%;
	}
	.scoreHeader {
		margin-top: 20px;
	}
	.tryAgainButton {
		margin-bottom: 0;
	}
	.localHead {
		height: 60px;
	}
}